
\.vscode/\.ropeproject/config\.py

\.vscode/\.ropeproject/objectdb

\.vscode/launch\.json

\.vscode/settings\.json

*.json

*.sqlite

.vs/VisionSandbox/v15/.suo
/src/Util/VisionUtil/__pycache__/Contour.cpython-37.pyc
/src/Util/VisionUtil/__pycache__/Con
tour.cpython-37.pyc
/src/Util/VisionUtil/__pycache__/Contour.cpython-37.pyc
